.cv{
	margin: 0 auto;/*center in parent*/
	max-width: 65em;
}


.cv h2{
	margin-top: 2em;
}


.cv table {
	margin: 0 auto;/*center in parent*/
    max-width: 55em;
    position: relative;/*so that children get aligned relatively*/
    overflow: visible;/*remove scrollbar*/
}

.cv tr {
}

.cv tr:hover {
	border: 1px solid black;
}

.cv tr:last-child > td {
	border-bottom: 0;
}


.cv td {
    padding-top: 0.5em 8px 0.5em 8px;
    text-align: left;
    /* need to overwrite global settings */
	border: 1px dotted gray;
	border-color: white white gray white;
}


.cv td:first-child {
	width: 11em;
}

.cv td:nth-child(2) {
	width: 15em;
	text-align: center;
}

.cv-table img {
    max-height: 3.5em;
}