.badges{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.badges-inside{
    display: block;
    /*text-align: left;*/
    /*margin-left: 1em;*/
}

/* -------------------- */

.octocat {
    color: inherit;
}

.octocat > div{
    margin: 0 auto; 
    text-align: center;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 3em;
}

.octocat:hover {
    color: $link-color;
    text-decoration: none;
}

/*.banner > div{
    margin: 0 auto; 
    max-width: 50%;
    min-width: 15em;
    border: 1px solid $link-color;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 4em;
}

.banner:hover > div{
    border-color: darken($link-color, 15%);
    color: darken($link-color, 15%);
}

.banner:hover{
    text-decoration: none;
}*/


/* -------------------*/

.project{
    margin: 0 auto; /*center in parent*/
    max-width: 40em;
}

.project ol,ul{
    margin-top: 0.5em;
    padding-left: 40px;
    list-style-position: outside;
}

.project > h2{
    font-size: 1.5em;
    margin-bottom: 0em;
}

.project-meta{
    font-size: 1em;
    color: gray;
    margin-bottom: 0.5em;
}

.project-meta > .time{
}

.project-meta > .context{
    font-weight: bold;
}

.project-description{
    text-align: justify;
}

.project-description>.beginner{
}


.project-description>.expert{
}

.project-more-information{
    margin: 0.5em 0em 0em 0em;
    font-weight: normal;
}

.project-picturegroup{
    text-align: center;
    width: 100%;
    position: relative; /*children will take position relative to this*/
    margin: 1em 1em 1em 1em;
}

.project-picturegroup>.project-picturebox{
    display: inline-block;
    margin: 0 auto; /*centering*/
    text-align: center;
    margin: 1em 1em 1em 1em;
    position: relative; /*children will take position relative to this*/
}

.project-picturegroup>.project-picturebox>img{
    width: 100%;/*take width from parent*/
}

.project-picturegroup>.project-picturebox>.project-picturetext{
    margin: 0 auto; /*centering*/
    width: auto;
    display: inline-block;
    text-align: justify;
    color: gray;
    font-size: 0.8em;
}

.project-more-information ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.project h1 {
    text-align: center;
    font-size: 1.6em;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
}

.project h2 {
    margin-bottom: 0em;
}