* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: var(--bg-color);
}

::selection {
  background: var(--selection-bg);
}
::-moz-selection {
  background: var(--selection-bg);
}
body {
  color: var(--text-color);
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  margin: 0.67em 0;
  a {
    color: var(--text-color);
  }
}
h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.15em; }

blockquote {
    border-left: 4px solid var(--border-color);
    padding: 1em 0em 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td, th {
  padding: 0.5em 1em;
  border: 1px solid var(--table-border);
  text-align: left;
}
table, dl, blockquote, code, kbd, pre, samp {
  margin: 1em 0;
}
dt { font-weight: bold; }
dd { margin-left: 2em; }
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
.math-display {
  display: inline-block;
  width: 100%;
}
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul { list-style-position: inside; }
hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid transparent;
  margin: 1em 0;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] { margin-right: 3%; }
img[align=right] { margin-left: 3%; }

.site-header {
  @extend %padding-small;
  background: var(--header-bg);
  border-bottom: 1px solid var(--border-color);
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: var(--header-link);
  }
  a:hover {
    color: var(--link-color);
  }
  .avatar {
    height: 4em;
    width: 4em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }
  .site-title {
    display: block;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }
  .site-nav {  
    margin-top: 4px;
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      text-align: left;
    }
    li {
      display: inline;
      margin-right: 0.4em;
    }
  }
}
